/* basic styles */
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

/* main container styles */
.app {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  max-width: 75vw;
  max-height: 75vh;
  cursor: pointer;
  background-color: #000;
}

.options {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* custom button class */
.btn {
  border: 2px solid #333;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  padding: 0 0.5rem;
  margin: 0 0.25rem;
}

.btn.inactive,
.btn[disabled] {
  border-color: #aaa;
  color: #aaa;
}

/* special styles for trigger button */
.trigger-btn[disabled] {
  color: #000;
}

.trigger-btn[disabled] .camera-icon {
  opacity: 0.5;
}

/* special styles for mirror button */
.mirror-btn-input {
  display: none;
}

/* styles related to showing the snapshot thumbs */
.snapshots {
  width: 100%;
  max-width: 1000px;
  min-height: 25vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.snapshots:empty::before {
  content: attr(title);
  color: #aaa;
  text-align: center;
  margin: 0 auto;
  font-size: 1.25rem;
  padding-top: 1rem;
}

.snapshots:not(:empty)::before {
  content: attr(data-usage-hint);
  color: #000;
  width: 100%;
  text-align: center;
  position: relative;

  font-size: 0.75rem;
  padding: 0.25rem 0;
}

.snapshot-wrapper {
  width: 45%;
  margin: 0 2.5% 2.5% 2.5%;
  position: relative;
  overflow: hidden;
}

.snapshot {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* styles for when a snapshot is hovered or tapped */
.snapshot-wrapper.focused::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.focused .delete-btn {
  top: 0;
  right: 0;
}

.focused .download-btn {
  top: 0;
  left: 0;
}

.focused .snap-btn {
  position: absolute;
  z-index: 2;
  transform: translateY(0);
  transition: transform 0.25s;
}

/* styles for buttons over snapshots */
.snap-btn {
  position: absolute;
  cursor: pointer;
  transform: translateY(-50px);

  text-shadow: 2px 2px 4px #333;

  border: none;
  background-color: transparent;
}

.download-btn {
  font-size: 1.5rem;
  padding-top: 0.4rem;
}

.delete-btn {
  font-size: 2rem;
  color: #a00;
  font-weight: bold;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
}

/* Media query for larger screens */
@media (min-width: 720px) {
  .snapshot-wrapper {
    width: 20%;
    margin: 0 2.5% 2.5% 2.5%;
    cursor: pointer;
  }

  .btn {
    font-size: 1.25rem;
  }
}
